.wrapper{
	flex-grow: 1;
    display: flex;
    justify-content: center;
    border-right: 2px solid #ccc;
    border-left: 2px solid #ccc;
}

.details{
    width: 100%;
    margin: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 100px;
    background-color: #faf9f9;
}
