.tr {
    display: flex;
    background-color: #a9bdd1
}

.th {
    font-size: 1.1em;
    font-family: sans-serif;
    padding: 10px 0;
    border: 1px solid black;
    width: 25%;
}

.th_actions {
    width: 12%;
}