
.item {
    display: flex;
    padding: 15px 0;
}

.label{
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
    width: 30%;
}

.details {
	width: 70%;
    text-align: justify;
    
}