.wrapper{
    position: relative;
}

.input { font-style: italic;
    min-width: 300px;
    padding: 5px;
    background-color: inherit;
    border:  1px solid #7f7f7f;
}

.input:hover,
.input:focus {
    border: 1px solid #00f;
}
.input::placeholder{
    font-style: italic;
}  

.input.invalid{
    border: 1px solid red;
}

.input__inform {
    position: absolute;
    bottom: -16px;
    left: 5px;
    font-size: 0.7em;
    font-style: italic;
}
.input__inform.invalid {
    color: red;
}

