.wrapper {
    display: flex;
    flex-direction: column;
}

.title {
    display: inline-block;
    font-size: 1.6em;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px 0;
}

.list {
    font-size: 1.1em;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 20px 0;
}
